@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --black-color: #272829;
    --blue-color: #61677A;
    --grey-color: #D8D9DA;
    --cream-color: #FFF6E0;
  }

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

html, body {
    height: 100%;
    margin: 0;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: Linear-gradient(245.59deg, var(--black-color) 0%, var(--blue-color) 99.99%);
}

a
{
    text-decoration: none;
}
.header .logo {
    font-size: 24px;
    color: var(--cream-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    color: var(--cream-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

#menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 768px) {


    #menu-icon {
        display: block;
    }
}

.cards-sec
{

    width: 100%;

    position: relative;
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    background: Linear-gradient(245.59deg, var(--black-color) 0%, var(--blue-color) 99.99%);
    align-items: center;
    gap: 2rem;
}

.cards-sec-login
{
    width: 100%;


    position: relative;
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    background: Linear-gradient(245.59deg, var(--black-color) 0%, var(--blue-color) 99.99%);
    align-items: center;
    gap: 2rem;
}

.cards-ses-reg-log
{

    width: 100%;

    position: relative;
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    background: Linear-gradient(245.59deg, var(--black-color) 0%, var(--blue-color) 99.99%);
    align-items: center;
    gap: 2rem;
}

.squareContainer {
    display: flex;
    text-align: center;
    padding: 20px;
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}



.cardSquare {
    position: relative;
    border-style: solid 1px;
    display: flex;
    flex: 0 0 calc(33.33% - 20px);
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    background-color: rgba(68, 68, 68, 0.37);

}

.placeHolder
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    width: 300px;
    overflow: hidden;
}

#plus-icon
{
    font-size: 30px;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus-icon:hover
{
    transform: scale(1.1);
}

.buttonsInSquare {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  height: 25;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;


}

.buttonsInSquare:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);

}

.actionButtons
{
    padding: 0;

    display: grid;
    left: auto;
    height: 80%;
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    opacity: 1;
    position: absolute;
    z-index: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.temperatureHolder
{

    position: relative;
    display: none;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.navHeaderDiv
{

    border-style: solid 1px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
    width: 350px;
    height: 25px;
    margin: 10px;
    border-radius: 10px;

    text-align: center;
    background-color: rgba(58, 58, 58, 0.5);
}

.tempNavBarComp
{
    position: relative;

    text-decoration: none;
    font-weight: 10;
    border-radius: 10px;
    width: 113.5px;
    justify-content: space-between;
    background-color: rgba(58, 58, 58, 0);
    color: var(--cream-color);
    border: none;

}

.tempNavBarComp:hover
{
    background-color:  rgba(58, 58, 58, 0.849);
    transition: color 0.3s;
}

#gauge
{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#major-ticks
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    justify-content: center;
    display: flex;
}

#major-ticks span
{
    position: absolute;
    font-size: 0.5em;
    color: #afafaf;


}

#major-ticks span:nth-child(1)
{
    top: 50%;
    left: 2px;
    transform: translateY(-50%)
}
#major-ticks span:nth-child(2)
{
    top: 15px;
    transform: translateY(-50%)
}
#major-ticks span:nth-child(3)
{
    top: 50%;

    right: 2px;
    transform: translateY(-50%)
}

#minor-ticks
{
    position: absolue;
    width: 70%;
    height: 70%;
    background: fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

#minor-ticks span
{
    position: absolute;
    width: 70%;
    height: 1px;
    border-top: 1px solid #afafaf;
    transform: rotate(calc((var(--i) - 1) * 9 * 1deg));
}


#minor-ticks::after
{
    content: '';
    position: absolute;
    width: 65%;
    height: 65%;
    background-color: #fff;
    border-radius: 50%;
}

#minor-ticks-bottom-mask
{
    position: absolute;
    width: 70%;
    height: 50%;
    bottom: 0;
    background: #fff;
}

#bottom-circle
{
    position: absolute;
    width: 60%;
    height: 60%;
    background: linear-gradient(#efefef, #fff);
    border-radius: 50%;
    box-shadow: inset 0 5px 5px #e7e7e7;

}

#center-circle
{
    position: absolute;
    background: linear-gradient(180deg, #fff 0%, #e7ecf1 100%);
    border-radius: 50%;
    height: 72px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);

}

#center-circle::before
{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(0deg, #fff 0%, #e7ecf1 100%);
    border-radius: 50%;
}

#name
{
    position: absolute;
    font-size: 0.5em;
    color: #7f7f7f;
    font-weight: 700;
    top: 14px;
}

#temperature
{
    position: absolute;
    font-size: 1.3em;
    color: #afafaf;

}

svg
{
    position: absolute
}

svg path
{
    transition: 1s;
}

#range
{
    position: absolute;
    width: 40%;
    left: 10px;
    bottom: 10px;
}

.find-location-div
{
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    flex: 1;
}


.container
{
    max-width: 400px;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: unset;
    flex-shrink: 0;
}
.find-location
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;

}

.find-location-div input[type="text"]
{
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    margin: auto 10px;
}

.find-location-div input[type="submit"] {
    border: none;
    background-color: #7f7f7f;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px;

}

.home-current-weather-div
{
    border: 1 solid white;
    border-radius: 5px;
    height: 300px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: #61677A;
    flex-direction: column;
}

.weather-grid-div
{
    height: 80%;
    width: 100%;
}
.weather-grid-div-montly
{
   height: 80%;
   width: 100%;
}

.location-name-selector
{
    display: flex;
    height: 30px;
    width: 120px;
    justify-content: space-between;
    padding: 0 16px;
}

.loaction-name-holder
{
    width: auto;
    overflow: visible;
}

.loaction-name
{
    white-space: nowrap;
    overflow: visible;
    text-overflow: clip;
    text-decoration: none;
    color: var(--cream-color);
}

.location-name-selector i
{
    margin-left: 10px;
    font-weight: 800;
}

.current-weather-header
{
    padding: 5px 16px;
    align-items: center;
    width: 200px;
}

.current-weather-name
{
    color: var(--cream-color);
}
.current-weather-time
{
    color: var(--cream-color);
}

.current-weather
{
    display: flex;
    background-color: #61677A;
    height: 62%;
    justify-content: center;
    width: 100%;
}

.weather-overview
{
    display: inline-flex;
    align-items: center;
}

.weather-overview-montlhy
{
    display: inline-flex;
    align-items: center;
}

.weather-image
{

    width: 100px;
    height: 100px;
}

.current-location-temperature
{
    margin-left: 20px;
    font-size: 50px;
    text-decoration: none;
    color: var(--cream-color);
}

.current-location-temperature-monthly
{
    margin-left: 20px;
    font-size: 50px;
    text-decoration: none;
    color: var(--cream-color);
}
.current-weather-condition-div
{

    margin-left: 50px;
    color: var(--cream-color);
}

.weather-detailed-div
{
    display: block;
}

.weather-detailed-div-monthly
{
    display: block;
}
.detailed-weather-flex-div
{
    display: flex;
    justify-content: space-between;

}

.detailed-weather-flex-div-montlhy
{
    display: flex;
    justify-content: space-between;
}

.detailGridDiv
{
    margin: 3px auto;
    display: grid;
    place-items: center;
    align-items: center;
}

.detailGridDiv span
{
    color: var(--cream-color);
}

.home-weather-holder
{
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    align-items: center;
    position:relative;
    align-content: center;
}

.cur-weather-div
{

    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.googlemap-div
{

    width: 50%;
    padding: 10px
}

#googleMap
{
    width: 100%;
    height: 300px;
    top: 15px;
    border-radius: 5px;
}

.profile-holder
{
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.profile-navbar
{
    width: 150px;
    border-right: 1px solid #e7e7e7;
}

.profile-navbar ul
{
    list-style-type: none;
    padding: 0px;
    margin: 20px 0;
}

.navbarDiv
{
    margin-bottom: 10px;
}

.navbarDiv
{
    text-align: center;
    position: relative;
	font-size:15px;
	text-decoration:none;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0px 20px 0px 3px;
    border-radius: 2px;
    height: 20px;
    width: 100%;
    display: block;
    color: var(--cream-color);
    overflow: hidden;
    user-select: none;

}

.profile-settings
{
    display: block;
    width: 100%;
}

.profile-flex-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basic-information-div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    max-width: 70%;
    width: 70%;
    margin: 20px auto;
    border: 1px solid var(--black-color);
    border-radius: 5px;
}

.info-div
{
    width: 100%;
    display: block;
    position: relative;
}

.info-div:hover::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.info-div a {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.basic-info-placeholder
{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    align-items: center;
    margin: 5px 10px;
    max-width: 100%;
}

.actual-info-placeholder
{
    flex: 1 1 auto;
    margin-bottom: 5px;
}

.flex-info-placeholder
{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

}


.input-profile[type="text"]
{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 90%;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    margin: auto 10px;
    display: none;
}

.sign-div
{
    width: 100%;

}


.flex-info-placeholder span, i
{
    color: var(--cream-color);

}

.forms-container {
    text-align: center;
    margin: 50px auto;
}

.basic-information-text-div
{
    color: #fff6e094;
    margin-bottom: 10px;
}

#profile-navbar-arrow
{
    color: var(--cream-color);
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    margin-right: 10px;
}

.form-toggle {
    margin-top: 20px;
}

.form-toggle a {
    color: var(--cream-color);
    text-decoration: none;
}



.registration-form {
    background-color: #383838;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-form {
    background-color: #383838;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--cream-color);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--cream-color);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--cream-color);
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button-login-reg {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-login-reg:hover {
    background-color: #45a049;
}




/*MONTHLY WEATHER*/

.monthNav {
    background-color: var(--darker-blue-color);
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}


.monthDiv
{
    border-radius: 20px;
    background-color: var(--black-color);
    color: var(--cream-color);
    width: 100px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.monthNav a {
    margin: 0 10px;

    padding: 10px;
    text-decoration: none;
    color: var(--cream-color);
}

.monthNav:hover, .monthNav.active {
    background-color: var(--darker-blue-color);
    color: var(--white-color);
}

#monthDisplay  {
    max-width: 800px;
    width: 800px;
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.daysDiv {
     display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}


.day {
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.day span {
    display: block;
}


.day.current {
    background-color: #5555ff;
}


.day:hover {
    background-color: #3e3e3e;
    cursor: pointer;
}


.detailOfMonth {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    height: 400px;
}

.circle-chart {
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: orange;
    border-right-color: blue;
    transform: rotate(-45deg);
    margin: 0 auto 20px;
}

.monthDetail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.stats {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
}

.stat {
    margin-bottom: 10px;
}

.stat-title {
    display: block;
    font-size: 0.8em;
    color: #aaa;
}

.stat-value {
    font-weight: bold;
    font-size: 1.2em;
}

.divCard
{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.dailyInfoInMonth {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    max-width: 1070px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-color);
    color: #fff;
    padding: 10px 20px;
  }

  .search-container input[type="text"]
  {
      border: 1px solid #ccc;
      border-radius: 30px;
      width: 100%;
      height: 30px;
      padding: 5px;
      box-sizing: border-box;
      margin: auto 10px;
  }


  .search-container input {
    padding: 5px;
    margin-right: 20px;
  }

  .locations-container {
    display: flex;
    align-items: center;

  }

  .location {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .location a {
    margin: 0 10px;
    padding: 10px;
    text-decoration: none;
    color: var(--cream-color);
}

  .location-name {
    margin-right: 5px;
  }





  .locationMonthly {
    display: flex;
    height: 30px;
    margin-top: 20px;
    width: 120px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.locationMonthly a{
    font-size: 20px;
}


.unit-toggle {
    padding: 5px;
    cursor: pointer;
}

.currecntWeatherDetailInMonthly
{
    border: 1 solid white;
    border-radius: 5px;
    height: 300px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: var(--black-color);
    flex-direction: column;
}

.current-weather-monthly
{
    display: flex;
    background-color: var(--black-color);
    height: 62%;
    justify-content: center;
    width: 100%;
}

/*CURRENT WEATHER*/

.currentWeatherDIV
{

    width: 100%;
    position: relative;
    display: flex;
    min-width: 100%;
    justify-content: center;
    flex-direction: column;
    background: Linear-gradient(245.59deg, var(--black-color) 0%, var(--blue-color) 99.99%);
    align-items: center;
    gap: 2rem;

}

.user-list-div
{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    min-width: 100%;
    justify-content: center;
    flex-direction: column;
    background: Linear-gradient(245.59deg, var(--black-color) 0%, var(--blue-color) 99.99%);
    align-items: center;
    gap: 2rem;
}
.weatherTodayDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.weather-widget {
    background: var(--black-color);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
}

.weather-location, .weather-date {
    font-size: 0.9rem;
    color: var(--cream-color);
}

.weather-info {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.weather-temperature {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--cream-color);
}

.weather-description {
    font-size: 1.2rem;
    margin: 10px 0;
    color: var(--cream-color);
}

.weather-range {
    font-size: 0.9rem;
    opacity: 0.8;
    color: var(--cream-color);
}

.forecast-widget {
    background: Linear-gradient(245.59deg, var(--black-color) 0%, var(--blue-color) 99.99%);;
    color: #333333;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.forecast-header {
    background: var(--black-color);
    color: var(--cream-color);
    padding: 10px 15px;
    text-align: center;
    font-weight: bold;
}

.forecast-body {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.forecast-time {
    text-align: center;
}

.time-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--cream-color);
}

.temperature-cur {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cream-color);
}

.weather-icon {
    margin: 10px 0;
}

.precipitation {
    color: var(--cream-color);
    text-align: center;
}

.forecast-footer {
    text-align: center;
    padding: 10px;
}

.forecast-button {
    background: #0077cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.forecast-button:hover {
    background: #005999;
}

.hourly-forecast-widget {
    background: Linear-gradient(245.59deg, var(--black-color) 0%, var(--blue-color) 99.99%);;
    color: #333333;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.hourly-forecast-header {
    background: var(--black-color);
    color: var(--cream-color);
    padding: 10px 15px;
    text-align: center;
    font-weight: bold;
}

.hourly-forecast-times {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 2px solid var(--black-color);
}

.forecast-time {
    text-align: center;
}

.forecast-time a
{
    text-decoration: none;
}

.time-cur {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--cream-color);
}

.temperature-cur {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px 0;
}

.weather-icon {
    margin: 10px 0;
}



.hourly-forecast-footer {
    text-align: center;
    padding: 10px;
}

.hourly-forecast-button {
    background: #0077cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
}





.daily-forecast {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background: var(--grey-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.daily-forecast h2 {
    background: var(--black-color);
    color: var(--cream-color);
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.forecast-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.forecast-item span {
    display: inline-block;
    margin: 0 5px;
}

.time-hour {
    flex-basis: 10%;
    text-align: left;
}

.temperature-hour {
    flex-basis: 10%;
    font-weight: bold;
}

.pressureHourly
{
    text-align: center;
}

.condition-hour {
    flex-basis: 20%;
    text-align: center;
}

.precipitation-hour {
    flex-basis: 10%;
    text-align: center;
    color: #0077cc;
}

.wind-hour {
flex-basis: 20%;
text-align: right;
}

.details-hour {
flex-basis: 10%;
text-align: right;
cursor: pointer;
}


.forecast-item:nth-child(even) {
background-color: #f9f9f9;
}


.forecast-item:hover {
background-color: #e3f2fd;
}

.forecast-legend
{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.condSpan
{
    margin-left: 70px;
}
.timeSpan
{
    margin-left: 7px;
    margin-right: 25px;
}

.rainSpan
{
    margin-left: 78px;
}
.pressureSpan
{
    margin-left: 40px;
}
.windSpan
{
    margin-left: 80px;
}

.footer-links-div
{
    display: flex;
    margin-top: 10px;
}

.site-footer {
    position: relative;

    bottom: 0;
    left: 0;
    width: 100%;
}

.second-footer
{
    position: relative;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 150px;
}

.footer-about p {
    max-width: 300px;
    text-align: center;
    color: var(--cream-color);
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: var(--cream-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #aaa;
}

.footer-social
{
    display: flex;
    flex-direction: column;
}
.footer-social a {
    display: inline-block;
    margin-right: 10px;
    color: var(--cream-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #aaa;
}

.xButton
{
    font-size: 30px;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.location-link
{
    cursor: pointer;
}

.logged-in, .logged-out
{
    display: none;
}

.city-input-device {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #ccc;
}
.city-text-device
{
    margin: 0px;
    color: var(--cream-color);
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .current-location-temperature
    {
        font-size: 27px;
    }
    .cards-sec-login
    {
        height: 100%;
    }
  }

@media (min-width: 1025px) {
    .cards-sec-login
    {
        height: 100%;
    }
    .cards-sec
    {
        height: 100%;
    }
  }

@media (min-width: 769px) and (max-width: 1024px) {
    .profile-holder {
        flex-direction: column;

    }

    .profile-navbar {
        width: 100%;
        border-right: none;
    }

    .profile-navbar ul
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-settings {
        flex: 1;
        overflow-y: auto;
    }
    .current-location-temperature
    {
        font-size: 27px;
    }
    .profile-holder {
        flex-direction: column;

    }

    .profile-navbar {
        width: 100%;
        border-right: none;
    }

    .profile-navbar ul
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-settings {
        flex: 1;
        overflow-y: auto;
    }
    .flex-info-placeholder
    {
        flex-direction: column;
    }
    .cur-weather-div, .googlemap-div {
        width: 100%;
    }
        .cards-sec-login
    {
        height: 100%;
    }

}
@media (max-width: 1250px) {

   .weather-overview
   {
    flex-direction: column;

   }
   .weather-image, .current-location-temperature, .current-weather-condition-div
   {
    margin-top: 10px;
    margin-left: 0;
   }

   .weather-grid-div
   {
    height: 100%;
    width: 70%;
   }


   .weather-detailed-div
   {
    height: 100%;
    width: 30%;
   }
   .detailed-weather-flex-div
   {
    flex-direction: column;
   }
   .detailGridDiv span
   {
    font-size: 15px;
   }
   .home-current-weather-div
   {
    flex-direction: row;
   }

   .weather-widget {
        width: 100%;
    }

   .weather-temperature {
        font-size: 2rem;
    }
       .cards-sec-login
    {
        height: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #menu-icon
    {
        display: block;
    }


    .header-bar
    {
        flex-direction: column;
    }
    .locations-container
    {
        flex-direction: column;
    }



    .profile-holder {
        flex-direction: column;

    }

    .profile-navbar {
        width: 100%;
        border-right: none;
    }

    .profile-navbar ul
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-settings {
        flex: 1;
        overflow-y: auto;
    }
    .flex-info-placeholder
    {
        flex-direction: column;
    }
    .cur-weather-div, .googlemap-div {
        width: 100%;
    }

    .month {
        grid-template-columns: repeat(7, 1fr);
    }


    .weatherTodayDiv {
        width: 100%;
    }
    .weather-widget {
        padding: 10px;
    }
    .weather-temperature {
        font-size: 1.5rem;
    }
    .weather-info {
        flex-direction: column;
        align-items: center;
    }
    .weather-location, .weather-date {
        font-size: 1rem;
    }
    .hourly-forecast-times {
        flex-direction: column;
    }
    .forecast-list .forecast-legend {
        display: none;
    }
    .forecast-body {
        flex-direction: column;
    }
    .forecast-item {
        flex-wrap: wrap;
    }

    .forecast-item span {
        flex-basis: 100%;
        margin: 2px 0;
    }

    .time-hour, .temperature-hour, .condition-hour, .precipitation-hour, .wind-hour, .details-hour {
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-content > div {
        margin-bottom: 20px;
    }

    .navigation
    {
        display: none;
        flex-direction: column;
        align-items: start;
    }

    .navigation a
    {
        display: block;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    #menu-icon
    {
        display: block;
    }

    .profile-holder {
        flex-direction: column;

    }

    .header-bar
    {
        flex-direction: column;
    }
    .locations-container
    {
        flex-direction: column;
    }

    .profile-navbar {
        display: flex;
        border-right: none;
        justify-content: right;
        width: 100%;
    }

    .profile-navbar ul
    {

        display: none;
    }

    .profile-settings {
        flex: 1;
        overflow-y: auto;
    }
    .flex-info-placeholder
    {
        flex-direction: column;
    }
    #profile-navbar-arrow
    {
        display: block;
    }
    .profile-holder {
        flex-direction: column;

    }


    .profile-settings {
        flex: 1;
        overflow-y: auto;
    }
    .flex-info-placeholder
    {
        flex-direction: column;
    }
    .cur-weather-div, .googlemap-div {
        width: 100%;
    }
    .find-location-input
    {
        display: none;
    }
    .detailGridDiv span
    {
     font-size: 12px;
    }
    .current-weather-name
    {
        font-size: 15px;
    }
    .month {
        grid-template-columns: repeat(7, 1fr);
    }


    .weatherTodayDiv {
        width: 100%;
    }
    .weather-widget {
        padding: 10px;
    }
    .weather-temperature {
        font-size: 1.5rem;
    }
    .weather-info {
        flex-direction: column;
        align-items: center;
    }
    .weather-location, .weather-date {
        font-size: 1rem;
    }
    .hourly-forecast-times {
        flex-direction: column;
    }
    .forecast-list .forecast-legend {
        display: none;
    }
    .forecast-body {
        flex-direction: column;
    }
    .forecast-item {
        flex-wrap: wrap;
    }

    .forecast-item span {
        flex-basis: 100%;
        margin: 2px 0;
    }

    .time-hour, .temperature-hour, .condition-hour, .precipitation-hour, .wind-hour, .details-hour {
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-content > div {
        margin-bottom: 20px;
    }
     .navigation
    {
        display: none;
        flex-direction: column;
        align-items: start;
    }

    .navigation a
    {
        display: block;
        margin: 5px 0;
    }
}



@media (max-width: 1059px)
{
    .monthNav
    {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 649px) {
     .monthNav {
         grid-template-columns: repeat(3, auto);
     }
}
@media (max-width: 600px) {
    .day {
        padding: 5px;
        font-size: smaller;
    }
    .daysDiv
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

.user-list {
    max-width: 600px;
    margin: 0 auto;
    background: var(--black-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 15px;
}

.user:last-child {
    border-bottom: none;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
    color: var(--cream-color);
}

.user-email {
    font-size: 17px;
    color: var(--cream-color);
}


.ban-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ban-button:hover {
    background-color: #cc0000;
}