<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div style="height: 100%; width: 100%">
    <header>
            <h2 class="logo">LOGO</h2>
             <nav class="navigation">
                <a href="{{ url_for('home') }}" class="navigation-link">Home</a>
                <a href="{{ url_for('devices') }}" class="navigation-link logged-in">Devices</a>
                <a href="{{ url_for('currentWeather') }}" class="navigation-link">Current Weather</a>
                <a href="{{ url_for('monthlyWeather') }}" class="navigation-link">Monthly Weather</a>
                <a href="{{ url_for('registration') }}" class="navigation-link logged-out">Registration</a>
                <a href="{{ url_for('loginPage') }}" class="navigation-link logged-out">Login</a>
                <a href="{{ url_for('profile') }}" class="navigation-link logged-in">Profile</a>
                <a href="{{ url_for('logout') }}" class="navigation-link logged-in" onclick="logoutUser()">Logout</a>
            </nav>
            <div class="bx bx-menu" id="menu-icon"></div>
        </header>
     <div class="currentWeatherDIV">

        <div class="months" style="height: 100%; width: 100%">
            <div class="header-bar">
                <div class="search-container">
                    <input type="text" placeholder="Search for location" id="location-search">
                </div>
                <div class="locations-container">

                </div>
                <div class="unit-toggle">
                  °C
                </div>
            </div>
            <div class="locationMonthly">
                <div class="loaction-name-holder">
                    <a class="loaction-name"></a>

                </div>
            </div>
            <nav class="monthNav">
                <div class="monthDiv">
                    <a href="{{ url_for('currentWeather') }}" id="currentWeather" >Today</a>

                </div>
                <div class="monthDiv">
                    <a href="{{ url_for('hourlyWeather') }}" id="hourlyWeather" >Hourly</a>
                </div>

            </nav>
            <div class="weatherTodayDiv">
                <div class="weather-widget">
                    <div class="weather-location">Zilina</div>
                    <div class="weather-date">13.1.2024</div>
                    <div class="weather-info">
                        <div style="width: 250px;">
                            <div class="weather-temperature" id="weather-cur-temp"></div>
                            <div class="weather-description" id="weather-cur-cond"></div>
                            <div class="weather-range">
                                <span id="cur-weather-day"></span>
                                <span id="cur-weather-night"></span>
                            </div>
                        </div>
                        <div style="margin: 20px; height: 100px; width: 100px;">
                            <img src="" class="weather-image" id="weather-cur-icon" alt="sun">
                        </div>
                    </div>
                </div>
            </div>
            <div class="forecast-widget">
                <div class="forecast-header">
                    Today Weather
                </div>
                <div class="forecast-body">
                    <div class="forecast-time">
                        <a href="#">
                            <div class="time-title" id="day-part-morning">Morning</div>
                            <div class="temperature-cur" id="day-part-morning-temp"></div>
                            <div class="weather-icon">
                                <img src="" class="weather-image" id="day-part-morning-icon" alt="sun">
                            </div>
                            <div class="precipitation" id="day-part-morning-rain-par"></div>
                        </a>
                    </div>
                    <div class="forecast-time">
                        <a href="#">
                            <div class="time-title" id="day-part-afternoon">Afternoon</div>
                            <div class="temperature-cur" id="day-part-afternoon-temp"></div>
                            <div class="weather-icon">
                                <img src="" class="weather-image" id="day-part-afternoon-icon" alt="sun">
                            </div>
                            <div class="precipitation" id="day-part-afternoon-rain-par"></div>
                        </a>
                    </div>
                    <div class="forecast-time">
                        <a href="#">
                            <div class="time-title" id="day-part-evening">Evening</div>
                            <div class="temperature-cur" id="day-part-evening-temp"></div>
                            <div class="weather-icon">
                                <img src="" class="weather-image" id="day-part-evening-icon" alt="sun">
                            </div>
                            <div class="precipitation" id="day-part-evening-rain-par"></div>
                        </a>
                    </div>
                    <div class="forecast-time">
                        <a href="#">
                            <div class="time-title" id="day-part-night">Night</div>
                            <div class="temperature-cur" id="day-part-night-temp"></div>
                            <div class="weather-icon">
                                <img src="" class="weather-image" id="day-part-night-icon" alt="sun">
                            </div>
                            <div class="precipitation" id="day-part-night-rain-par"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hourly-forecast-widget">
                <div class="hourly-forecast-header">Hourly weather</div>
                <div class="hourly-forecast-times">
                    <div class="forecast-time">
                        <a href="#">
                            <div class="time-cur" id="cur-hour-1">Now</div>
                            <div class="temperature-cur" id="cur-hour-temp-1"></div>
                            <div class="weather-icon">
                                <img src="" class="weather-image" id="cur-hour-icon-1" alt="sun">
                            </div>
                            <div class="precipitation" id="cur-hour-precip-1"></div>
                        </a>
                    </div>
                    <div class="forecast-time">
                        <a href="#">
                            <div class="time-cur" id="cur-hour-2">17:00</div>
                            <div class="temperature-cur" id="cur-hour-temp-2"></div>
                            <div class="weather-icon">
                                <img src="" class="weather-image" id="cur-hour-icon-2" alt="sun">
                            </div>
                            <div class="precipitation" id="cur-hour-precip-2"></div>
                        </a>
                    </div>
                    <div class="forecast-time">
                        <a href="#">
                            <div class="time-cur" id="cur-hour-3">18:00</div>
                            <div class="temperature-cur" id="cur-hour-temp-3"></div>
                            <div class="weather-icon">
                                <img src="" class="weather-image" id="cur-hour-icon-3" alt="sun">
                            </div>
                            <div class="precipitation" id="cur-hour-precip-3"></div>
                        </a>
                    </div>
                    <div class="forecast-time">
                        <a href="#">
                            <div class="time-cur" id="cur-hour-4">19:00</div>
                            <div class="temperature-cur" id="cur-hour-temp-4"></div>
                            <div class="weather-icon">
                                <img src="" class="weather-image" id="cur-hour-icon-4" alt="sun">
                            </div>
                            <div class="precipitation" id="cur-hour-precip-4"></div>
                        </a>
                    </div>
                    <div class="forecast-time">
                        <a href="#">
                            <div class="time-cur" id="cur-hour-5">20:00</div>
                            <div class="temperature-cur" id="cur-hour-temp-5"></div>
                            <div class="weather-icon">
                                <img src="" class="weather-image" id="cur-hour-icon-5" alt="sun">
                            </div>
                            <div class="precipitation" id="cur-hour-precip-5"></div>
                        </a>
                    </div>

                </div>
            </div>

        </div>
        <footer class="site-footer">
            <hr style="margin-top: 20px; margin-bottom: 20px;">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="path-to-your-logo.png" alt="Logo" />
                </div>
                <div class="footer-about">
                    <p></p>
                </div>
                <div class="footer-links-div">
                    <div class="footer-links">
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms of Service</a></li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <a href="http://www.facebook.com">Facebook</a>
                        <a href="http://www.twitter.com">Twitter</a>
                        <a href="http://www.instagram.com">Instagram</a>
                    </div>
                </div>
            </div>
        </footer>

     </div>
</div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>