<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div style="height: 100%; width: 100%">
    <header>
        <h2 class="logo">WEATHER</h2>
         <nav class="navigation">
                <a href="{{ url_for('home') }}" class="navigation-link">Home</a>
                <a href="{{ url_for('devices') }}" class="navigation-link logged-in">Devices</a>
                <a href="{{ url_for('currentWeather') }}" class="navigation-link">Current Weather</a>
                <a href="{{ url_for('monthlyWeather') }}" class="navigation-link">Monthly Weather</a>
                <a href="{{ url_for('registration') }}" class="navigation-link logged-out">Registration</a>
                <a href="{{ url_for('loginPage') }}" class="navigation-link logged-out">Login</a>
                <a href="{{ url_for('profile') }}" class="navigation-link logged-in">Profile</a>
                <a href="{{ url_for('logout') }}" class="navigation-link logged-in" onclick="logoutUser()">Logout</a>
            </nav>
        <div class="bx bx-menu" id="menu-icon"></div>
    </header>
    <div class="cards-sec-login">
        <div class="forms-container">
          
            <form class="login-form">
                <h2>Login</h2>
                <div class="input-group">
                    <label for="login-username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="login-password">Password</label>
                    <input type="password" id="password" name="password" required>
                    <p style="margin: 10px auto; padding: 10px;" id="loginMessage"></p>
                </div>                
                <button class="button-login-reg login-button" type="submit" onclick="loginUser()">Login</button>
                <div class="form-toggle">
                    <a href="registration.html">Don't have an account? Register</a>
                </div>
            </form>
        </div>
        <footer class="second-footer">
            <hr style="margin-top: 20px; margin-bottom: 20px;">
            <div class="footer-content">

                <div class="footer-about">
                    <p></p>
                </div>
                <div class="footer-links-div">
                    <div class="footer-social">
                        <a href="http://www.facebook.com">Facebook</a>
                        <a href="http://www.twitter.com">Twitter</a>
                        <a href="http://www.instagram.com">Instagram</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>
